@font-face {
    font-family: 'micro';
    src: url('../MicroFLF.ttf');
}

/* CSS reset and general rules */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'micro', sans-serif, 'Times New Roman', Times, serif;
    color: rgb(39, 39, 39);
}

html, body {
    height: 100%;
    background: var(--rose-quartz);
}

ul {
    list-style: none;
}

button {
    background-color: var(--misty-rose);
    border-radius: var(--border-radius);
    border: 1px solid var(--brown);
    padding: 2px 5px;
}

button:hover,
.nav-filters li:hover,
.new-project:hover,
tbody:hover,
.new-task,
.task-icon:hover {
    cursor: grab;
}

/* Custom variables */
:root {
    --section-space: 15px;
    --small-spacing: 10px;
    --med-spacing: 25px;
    --large-spacing: 40px;
    --border-radius: 10px;
    --misty-rose: #ffdbda;
    --grey: #9da3a4;
    --french-grey: #D5C5C8;
    --lighter-french: #E5DCDD;
    --pink: #DB7F8E;
    --rose-quartz: #C3ACAC;
    --brown: #604D53;
    --light-brown: rgb(96, 77, 83, 0.7);
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--pink);
    height: 10%;
    border-bottom: 2px solid rgba(0,0,0,0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    gap: var(--small-spacing)
}

header img {
    width: 60px;
    height: 60px;
    margin-left: var(--med-spacing);
}

header strong {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/* Nav Bar */
nav {
    position: fixed;
    background-color: var(--french-grey);
    width: 16.5%;
    height: 90vh;
    border-right: 2px solid rgba(0,0,0,0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: var(--small-spacing);
}

.nav-filters {
    padding: var(--med-spacing) 0px var(--med-spacing) var(--section-space);
}

.nav-filters li {
    margin-bottom: var(--section-space);
    background-color: var(--rose-quartz);
    padding: var(--small-spacing);
    border-radius: var(--border-radius);
    border: 1px solid var(--brown);
    transition: background-color 0.2s linear, border-color 0.2s linear;
}

.project-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    padding: 0px var(--section-space) 0px var(--section-space);
}


#projectTable {
    border-collapse: separate;
    display: block;
    border-spacing: 0 10px;
    padding: 0px 0px var(--med-spacing) var(--section-space);
    height: 400px;
    overflow: auto;
}

tbody {
    background-color: var(--rose-quartz);
    transition: background-color 0.2s linear;
}

#projectTable tbody > tr > td {
    transition: border-color 0.2s linear;
    padding: 5px;
}

#projectTable tbody:hover > tr > td {
    border-color: aqua;
}

#projectTable td {
    border-top: 1px solid var(--brown);
    border-bottom: 1px solid var(--brown);
}

#projectTable td:first-child {
    border-left: 1px solid var(--brown);
    border-top-left-radius: var(--border-radius); 
    border-bottom-left-radius: var(--border-radius); 
    width: 65%;
}

#projectTable td:last-child {
    border-right: 1px solid var(--brown);
    border-bottom-right-radius: var(--border-radius); 
    border-top-right-radius: var(--border-radius);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83.5%;
    margin-left: 15%;
}

main h1 {
    padding-top: var(--section-space);
}

.task-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--section-space);
    border-bottom: 1px grey solid;
    width: 70%;
}

.new-task {
    display: none;
}

#taskTable {
    width: 70%;
    padding-top: 5px;
}


#taskTable td {
    padding: 5px;
}

#taskTable td:not(:first-child) {
    width: 40px;
    height: 40px;
}

/* Forms and Task View */
@keyframes popup {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.5);
    }
}

.form-container {
    display: none;
}

#taskItemFormContainer,
#projectFormContainer {
    position: fixed;
    top: 30%;
    border: 2px solid var(--brown);
    animation-name: popup;
    animation-duration: 0.5s;
    transform: scale(1.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--pink);
    padding: var(--small-spacing);
    border-radius: var(--border-radius);
}

#taskItemFormContainer {
    z-index: 2;
    width: 20%;
    margin-left: -10%;  
    left: 50%;
}

#projectFormContainer {
    z-index: 3;
    width: 15%;
    margin-left: -7.5%;  
    left: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--section-space);
}

input[type=text] {
    padding-left: 2px;
}

label textarea {
    vertical-align: middle;
}


.view-container {
    display: flex;
    flex-direction: column;
    gap: var(--med-spacing); 
    padding: var(--med-spacing) var(--section-space) var(--section-space) var(--section-space);
    position: fixed;
    left: 50%;
    top: 30%;
    margin-left: -7.5%;   
    width: 350px;
    height: 400px;
    z-index: 2;
    background-color: var(--pink);
    border: 3px solid var(--brown);
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-item {
    width: 200px;
}

.task-label {
    width: 100px;
}

.task-info-container {
    display: flex;
    height: 50px;
    gap: var(--large-spacing);
    padding-bottom: var(--section-space);
    border-bottom: 1px solid var(--light-brown);
}

.task-info-container textarea {
    height: 42px;
    width: 160px;
}

.view-container button {
    width: 15%;
    align-self: flex-end;
}

.description {
    height: 70px;
}

.description .task-item {
    overflow-y: scroll;
    font-size: 12px;
    height: 60px;
}

.overlay {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}