/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
}

/* Custom variables */
:root {
    --section-space: 15px;
    --small-padding: 10px;
    --med-padding: 25px;
    --large-padding: 40px;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 10%;
}

/* Nav Bar */
nav {
    position: fixed;
    background-color: forestgreen;
    width: 15%;
    height: 90vh;
}

.nav-filters {
    padding: var(--med-padding) 0px var(--med-padding) var(--section-space);

}

.nav-filters li {
    padding-bottom: var(--small-padding);
}

.project-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    padding: 0px var(--section-space) 0px var(--section-space);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-left: 15%;
}

main h1 {
    padding-top: var(--section-space);
}

.task-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--section-space);
    border-bottom: 1px grey solid;
    width: 70%;
}

#taskTable {
    width: 70%;
    padding-top: 5px;
}


#taskTable td {
    padding: 5px;
}

#taskTable td:not(:first-child) {
    width: 40px;
    height: 40px;
}

/* Forms and Task View */
.form-container {
    display: none;
}

.view-container {
    position: fixed;
    left: 50%;
    margin-left: -7.5%;   
    width: 15%;
    height: 40%;
    z-index: 2;
    background-color: rgb(64, 177, 19);
}

.overlay {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
}